{% load static %}
<!DOCTYPE html>
<html>
  <head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    
    <title>CAOS NEWS-Actualidad</title>
  </head>
  <body>
     <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="index.html">
        <img src="{% static 'IMG/Caos news.png' %}" width="50" height="30" class="d-inline-block align-top" alt="" >
        CAOS NEWS  
      </a>
          <form style class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          </form> 
    </nav>
    <div style="border: black 3px solid;" class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="cat_actualidad.html">Actualidad</a>
        <a class="p-2 text-muted" href="cat_animales.html">Animales</a>
        <a class="p-2 text-muted" href="cat_deportes.html">Deportes</a>
        <a class="p-2 text-muted" href="cat_salud.html">Salud </a>
        <a class="p-2 text-muted" href="cat_tecnologia.html">Tecnologia</a>
        <a class="p-2 text-muted" href="cat_ocio.html">Ocio</a>
        <a class="p-2 text-muted" href="api_de_prueba.html">Internacional</a>
      </nav>
    </div>
    </nav>
    <hr>
    <h4 class="categoria" style="margin-left: 50px; margin-right: 50px;">-Actualidad</h4>
    <hr>
    <h1  class="titular" style="margin-right: 50px;margin-left: 50px;"> El gran debut de Bad Bunny en la WWE: participará en el evento más importante de la lucha libre</h1>
    <br>
    <hr>
    <h4 class="autor" style="margin-left: 50px;margin-right: 50px;">Diana Aros<br>
        <p class="card-text"><small class="text-muted"> actualizado 10 abril 2021</small></p>
       <img src="{% static 'IMG/bad bunny3.jpg' %}" width="800px" height="300px" alt="portada gato" style="vertical-align:middle;margin: 100px 100px">
    </p>
    <div class="col-md-8"></div>
      <div class="card-body">
        <h5 class="card-title">BAD BUNNY</h5>

        <p class="card-text"><small class="text-muted">
            No es desconocido que el cantante puertorriqueño Bad Bunny vive uno de sus mejores momentos de su carrera. Y es el artista de 27 años no sólo ha logrado conquistar la industria de la música, sino que ahora lo está haciendo en la industria del entretenimiento deportivo.
            A principios de este año, la WWE confirmaba el fichaje del cantante y según la revista Forbes, el presidente y director de ventas de la WWE, Nick Khan, explicó que “Bad Bunny es una estrategia diseñada para a una audiencia joven. Estamos reevaluando nuestra estrategia de mercado y próximamente también lanzaremos producto para niños entre 2 y 6 años”.
            Su primera aparición fue en el pasado Royal Rumble, donde cantó la canción ‘Booker T’ junto al luchador del mismo nombre.
        </small></p>

        <img src="{% static 'IMG/badbunny2.jpg' %}" width="800px" height="300px" alt="portada gato" style="vertical-align:middle;margin: 100px 100px">
                
        <P><p class="card-text"><small class="text-muted">
            Ahora, el puertorriqueño se presentará en el evento más grande de la lucha libre profesional, WrestleMania 37, donde el cantante ya se prepara y entrena para el duelo que será por parejas: Priest y Bunny contra Miz y Morrison.
            Entre aparición y aparición, Bad Bunny ha entrenado duro para poder ofrecer un buen espectáculo.La pelea se realizará el sábado 10 de abril, durante la primera jornada de Wrestlemania, que tendrá como lucha estelar la de Bobby Lashley contra Drew McIntyre por el Campeonato de la WWE.

        </small></p></P>
      </div>
    </div>
</body>
</html> 