{% load static %}
<!DOCTYPE html>
<html>
  <head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    
    <title>CAOS NEWS-Animales</title>
  </head>
  <body>
     <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="index.html">
        <img src="{% static 'IMG/Caos news.png' %}" width="50" height="30" class="d-inline-block align-top" alt="" >
        CAOS NEWS  
      </a>
          <form style class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          </form> 
    </nav>
    <div style="border: black 3px solid;" class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="cat_actualidad.html">Actualidad</a>
        <a class="p-2 text-muted" href="cat_animales.html">Animales</a>
        <a class="p-2 text-muted" href="cat_deportes.html">Deportes</a>
        <a class="p-2 text-muted" href="cat_salud.html">Salud </a>
        <a class="p-2 text-muted" href="cat_tecnologia.html">Tecnologia</a>
        <a class="p-2 text-muted" href="cat_ocio.html">Ocio</a>
        <a class="p-2 text-muted" href="api_de_prueba.html">Internacional</a>
      </nav>
    </div>
    <br>
       <h1 
          style="font-family: 
          'Times New Roman', Times, serif;
          text-align: center; 
          border: red 2px solid; 
          background-color: black; 
          color: blanchedalmond;"
  
        >NOTICIAS DE ANIMALES
      
      </h1>
    <br>
 

    <div style="text-align: center;" class="card mb-3" style="max-width: 900px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <a href="dia_gato.html"  title="dia del gato">
            <img alt="gato"  src="{% static 'IMG/portadagato.jpg' %}" width="300" height="170" />
           </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">¿Y qué día no es el día del gato?</h5>
            <p class="card-text">Estamos lejos de que a los gatos se les reconozcan como propios los 365 días del año, pero es una cuestión de tiempo.</p>
            <p class="card-text"><small class="text-muted">los gatos son los dueños.</small></p>
          </div>
        </div>
      </div>
    </div>

    <div style="text-align: center;" class="card mb-3" style="max-width: 900px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <a href="narco_gato.html"  title="el gato narco">
            <img alt="el gato narco"  src="{% static 'IMG\narcogato.jpg' %}" width="300" height="170" />
           </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Detienen a 'narcogato' en Panamá; caminaba con droga hacia una cárcel</h5>
            <p class="card-text">Autoridades de Panamá informaron sobre la detención de un gato cuando intentaba ingresar a una cárcel de ese país con droga
                envuelta en su cuerpo.</p>
            <p class="card-text"><small class="text-muted">El felino fue sorprendido por custodios y unidades policiales en las afueras de la cárcel Nueva Esperanza,
                en la provincia caribeña de Colón.</small></p>
          </div>
        </div>
      </div>
    </div>

    <div style="text-align: center;" class="card mb-3" style="max-width: 900px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <a href="Noticia2.html" title="adoptar">
            <img alt="adopta un gato"  src="{% static 'IMG\adopta_gato.jpg' %}" width="300" height="170" />
           </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Adoptados 507 perros y 413 gatos en Barcelona en 2020 pese a la pandemia</h5>
            <p class="card-text">Un total de 507 perros y 413 gatos fueron adoptados en Barcelona durante en 2020</p>
            <p class="card-text"><small class="text-muted">en un año atípico por la pandemia
                y el confinamiento en el que se han abandonado en la ciudad menos animales que en otros años.</small></p>
          </div>
        </div>
      </div>
    </div>

    
</html>