{% load static %}
<!DOCTYPE html>
<html>
  <head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    
    <title>CAOS NEWS-Animeales</title>
  </head>
  <body>
     <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="index.html">
        <img src="{% static 'IMG/Caos news.png' %}" width="50" height="30" class="d-inline-block align-top" alt="" >
        CAOS NEWS  
      </a>
          <form style class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          </form> 
    </nav>

    <div style="border: black 3px solid;" class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="cat_actualidad.html">Actualidad</a>
        <a class="p-2 text-muted" href="cat_animales.html">Animales</a>
        <a class="p-2 text-muted" href="cat_deportes.html">Deportes</a>
        <a class="p-2 text-muted" href="cat_salud.html">Salud </a>
        <a class="p-2 text-muted" href="cat_tecnologia.html">Tecnologia</a>
        <a class="p-2 text-muted" href="cat_ocio.html">Ocio</a>
        <a class="p-2 text-muted" href="api_de_prueba.html">Internacional</a>
      </nav>
    </div>

    <br>
       <h1 
          style="font-family: 
          'Times New Roman', Times, serif;
          text-align: center; 
          border: red 2px solid; 
          background-color: black; 
          color: blanchedalmond;"
  
        >NOTICIAS DE TECNOLOGIA
      
      </h1>
    <br>
 

    <div style="text-align: center;" class="card mb-3" style="max-width: 900px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <a href="tecno1.html" title="copia seguridad">
              <img alt="copia seguridad"  src="{% static 'IMG/copia seguridad.jpg' %}" width="300" height="170" />
             </a>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Una buena estrategia (y varios errores a evitar) a la hora de hacer una copia de seguridad</h5>
              <p class="card-text">Los expertos recomiendan seguir la llamada regla 3-2-1 para resguardar nuestros documentos de un desastre informático.</p>
              <p class="card-text"><small class="text-muted">Juan Diego Godoy, Ciudad De Guatemala - 15 ABR 2021 - 05:20 CEST</small></p>
            </div>
          </div>
        </div>
      </div>

    <div style="text-align: center;" class="card mb-3" style="max-width: 900px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <a href="tecno2.html" title="facebook">
            <img alt="facebook"  src="{% static 'IMG/facebook.jpg' %}" width="300" height="170" />
           </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Más de 30 organizaciones instan a Facebook a abandonar sus planes de un Instagram para niños</h5>
            <p class="card-text">El culto a la apariencia física promovido por la plataforma y la presión social, aseguran los expertos, serían dañinos para la privacidad y el bienestar de los menores</p>
            <p class="card-text"><small class="text-muted">Juan Diego Godoy. Ciudad De Guatemala - 15 ABR 2021 - 17:59 CEST</small></p>
          </div>
        </div>
      </div>
    </div>

    <div style="text-align: center;" class="card mb-3" style="max-width: 900px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <a href="tecno3.html" title="aceitunas">
            <img alt="laptop"  src="{% static 'IMG/laptop2.jpg' %}" width="300" height="170" />
           </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">¿Es mejor tener la laptop enchufada todo el tiempo o usar la batería?: esto es lo que dicen los expertos</h5>
            <p class="card-text">¿Cómo usas tu laptop? Una pregunta bastante común sobre el uso de las laptops es cómo prolongar la vida útil de la batería (o al menos, cómo evitar acortarla más de lo normal).</p>
            <p class="card-text"><small class="text-muted">RedaccióN BBC News Mundo</small></p>
          </div>
        </div>
      </div>
    </div>

    
</html>
