{% load static %}
<!DOCTYPE html>
<html>
  <head> 
    <meta charset="UTF-8">
    <link href="switch.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>"Hitman necesita un descanso": la saga se toma un respiro, pero IO Interactive piensa en nuevas ideas</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/index">
        <img src="{% static 'IMG/Caos news.png' %}" width="50" height="30" class="d-inline-block align-top" alt="" >
        CAOS NEWS  
      </a>
          <form style class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          </form> 
    </nav>
    <div style="border: black 3px solid;" class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="/cat_actualidad">Actualidad</a>
        <a class="p-2 text-muted" href="/cat_animales">Animales</a>
        <a class="p-2 text-muted" href="/cat_deportes">Deportes</a>
        <a class="p-2 text-muted" href="/cat_salud">Salud </a>
        <a class="p-2 text-muted" href="/cat_tecnologia">Tecnologia</a>
        <a class="p-2 text-muted" href="/cat_ocio">Ocio</a>
        <a class="p-2 text-muted" href="/api_de_prueba">Internacional</a>
      </nav>
    </div>
    <hr>
    <h4 class="categoria" style="margin-right: 50px;margin-left: 50px;">-Ocio</h4>
    <hr>
    <h1 class="titular" style="margin-right: 50px;margin-left: 50px;">"Hitman necesita un descanso": la saga se toma un respiro, pero IO Interactive piensa en nuevas ideas</h1>
    <br>
    <hr>
    <h4 class="autor" style="margin-right: 50px;margin-left: 50px;">José M. Rodríguez Ros<br>
    Actualizado el 17 de abril de 2021</h4>
    <img src="{% static 'IMG/Hitman.jpg' %}" width="1000px" height="500px" alt="portada switch" style="vertical-align:middle;margin: 100px 100px">
    <div class="col-md-8"></div>
      <div class="card-body">
        <p class="card-text">
            Tras el reciente lanzamiento de Hitman 3, parece que la saga Hitman que ha creado IO Interactive parará un poco para tomar algo de aire 
            y volver con más fuerza, aunque el estudio declaró también con anterioridad que ampliará el juego y, de hecho, anunció un nuevo DLC de pago 
            dividido en siete capítulos. Ahora, el CEO del estudio, ha reconocido que Hitman debe tomarse un descanso.
            En una entrevista con GamesIndustry.Biz, el CEO de IO Interactive, Hakan Abrak, ha indicado que después de la trilogía, el Agente 47 debe descansar: 
            "Después de la trilogía, es seguro decir que el Agente 47 necesita un respiro. Necesita un descanso. Pero eso no significa que las cosas no estén sucediendo en el mundo de los asesinatos.
             Tenemos algunas ideas geniales en las que estamos trabajando y algunas de ellas darán sus frutos".
        </p>
        <p class="card-text">
            El estudio está trabajando en Project 007, un nuevo juego de James Bond, y ya dijo que quería un Bond para la industria de los videojuegos.
             IOI se muestra feliz por trabajar con estas IPs: "Está ese universo de Hitman en el que estamos trabajando; luego está el universo de Bond, que es absolutamente asombroso. 
             Estamos muy entusiasmados con eso. Tenemos el privilegio de hacer una historia original y crear nuestro propio Bond digital es increíble para nosotros".
             Lo que está claro es que Hitman no para porque la saga vaya mal, porque es todo lo contrario: parece ir mejor que nunca. En la misma charla, 
             Abrak ha indicado que Hitman 3 ha vendido un 300% más que Hitman 2, lo que sin duda es una grandísima noticia para el estudio. De hecho, como os contamos en su momento, 
             los inicios del juego fueron fantásticos y Hitman 3 era rentable desde su primera semana.
        </p>
        <p class="card-text">
            Esta misma semana conocíamos la genial noticia de que IO Interactive abre un nuevo estudio en Barcelona para trabajar en sus juegos. La empresa ha sabido expandirse, 
            pero sus planes no se quedan ahí. "Tenemos un objetivo muy humilde, queremos ser el desarrollador de juegos más deseable de Europa para 2024. Puede ser un objetivo muy alto al que apuntar, 
            pero nos hemos vuelto más fuertes. Creo que tenemos la voluntad, la cultura, la gente y el impulso para hacerlo", ha asegurado Abrak.
            Abrak ha insistido en el crecimiento, que creará más empleo: "Dentro de los próximos dos, tres, cuatro años, estamos visualizando una situación en la que IO Interactive tendrá el doble del tamaño que tiene hoy". 
            Pero, al estudio no le basta con ampliar sus estudios y sus desarrollos, sino que también está pensando en convertirse en publisher para otras compañías, algo que ya hace consigo mismo.
            "Es algo que está en movimiento y es muy probable que IO publique también juegos de otras personas en el futuro. Hace unos pocos años, esto era impensable, donde solo había unos pocos editores grandes. 
            Las cosas están cambiando. Eso todavía funciona. Creo que los grandes editores tienen un papel que desempeñar en el futuro. Además, es muy probable que otros publiquen uno de nuestros juegos. Eso es muy posible". 
            Si queréis saber más de Hitman 3, podéis rememorar nuestro análisis.
        </p>
  </div>
</div>
</body>
</html>