{% load static %}
<!DOCTYPE html>
<html>
  <head> 
    <meta charset="UTF-8">
    <link href="switch.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Detienen a 'narcogato' en Panamá; caminaba con droga hacia una cárcel</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/index">
        <img src="{% static 'IMG/Caos news.png' %}" width="50" height="30" class="d-inline-block align-top" alt="" >
        CAOS NEWS  
      </a>
          <form style class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          </form> 
    </nav>
    <div style="border: black 3px solid;" class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="/cat_actualidad">Actualidad</a>
        <a class="p-2 text-muted" href="/cat_animales">Animales</a>
        <a class="p-2 text-muted" href="/cat_deportes">Deportes</a>
        <a class="p-2 text-muted" href="/cat_salud">Salud </a>
        <a class="p-2 text-muted" href="/cat_tecnologia">Tecnologia</a>
        <a class="p-2 text-muted" href="/cat_ocio">Ocio</a>
        <a class="p-2 text-muted" href="/api_de_prueba">Internacional</a>
      </nav>
    </div>
    <hr>
    <h4 class="categoria" style="margin-right: 50px;margin-left: 50px;">-Animales</h4>
    <hr>
    <h1 class="titular" style="margin-right: 50px;margin-left: 50px;">Detienen a 'narcogato' en Panamá; caminaba con droga hacia una cárcel</h1>
    <br>
    <hr>
    <h4 class="autor" style="margin-right: 50px;margin-left: 50px;">Anonimo<br>
    Actualizado el 16 de abril de 2021</h4>
    <img src="{% static 'IMG/narcogato.jpg' %}" width="1000px" height="500px" alt="portada switch" style="vertical-align:middle;margin: 100px 100px">
    <div class="col-md-8"></div>
      <div class="card-body">
        <p class="card-text">
        Autoridades de Panamá informaron sobre la detención de un gato cuando intentaba ingresar a una cárcel de ese país con droga
        envuelta en su cuerpo. El felino fue sorprendido por custodios y unidades policiales en las afueras de la cárcel Nueva Esperanza,
        en la provincia caribeña de Colón, a 80 kilómetros al norte de Ciudad de Panamá. Te recomendamos: "Save Ralph", 
        la campaña contra pruebas en animales que conmueve en redes sociales Según las investigaciones, el gato fue interceptado cuando
        se dirigía a la cerca perimetral del centro penitenciario, que alberga a más de mil 700 presos.
    </p>
    <p class="card-text">
        "El animal tenía una tela amarrada al cuello que mantenía dos envoltorios" con "materia vegetal, 
        cuatro envoltorios forrados de plástico transparente de polvo blanco y otro con hojas", 
        explicó Andrés Gutiérrez, director general del Sistema Penitenciario panameño.
    </p>
    <p class="card-text">
        El fiscal de drogas de Colón y Guna Yala, Eduardo Rodríguez, manifestó al canal Telemetro,
        que el gato posiblemente transportaba cocaína, crack y mariguana. Las autoridades sospechan que,
        para transportar droga, los animales son manipulados con comida desde las cárceles,
        para hacerlos regresar con las sustancias ilícitas. La mercancía es colocada en sus cuerpos en el exterior
        de la cárcel o dentro de los mismos pabellones de los complejos carcelarios, advierten los expertos. 
        Tras la captura del gato, la Fiscalía de Drogas de Colón y Guna Yala anunció en su cuenta de Twitter haber iniciado
        "investigaciones por la utilización de animales para el traspaso de sustancias ilícitas al Centro Penitenciario Nueva Esperanza".
    </p>
    <p class="card-text">
        En el mensaje la fiscalía añade dos fotos, en una de las cuales se ven varios envoltorios con presunto polvo blanco en su interior,
        mientras que en la otra aparece un gato, también blanco, con un trozo de tela amarrado a su cuerpo. El ministerio de Gobierno informó 
        que una vez tomadas las evidencias, el gato fue entregado a una fundación defensora de los animales.  En Panamá hay más de 18 mil presos 
        repartidos en 23 centros penitenciarios, en su mayoría sobrepoblados.  En ocasiones anteriores, las autoridades panameñas descubrieron el 
        intento de los narcotraficantes de ingresar droga a las cárceles a través de comida, ropa, palomas o mediante la utilización de drones. 
        En las últimas horas, la policía panameña incautó 2.5 toneladas de cocaína en la comarca indígena de Guna Yala, en el caribe panameño. 
        En 2020, Panamá incautó 84 toneladas de droga, principalmente cocaína, mientras que en 2019 decomisó su cifra récord de 90 toneladas.
    </p>
  </div>
</div>
</body>
</html>