{% load static %}
<!DOCTYPE html>
<html>
  <head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    
    <title>CAOS NEWS-Tecnologia</title>
  </head>
  <body>
     <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="index">
        <img src="{% static 'IMG/Caos news.png' %}" width="50" height="30" class="d-inline-block align-top" alt="" >
        CAOS NEWS  
      </a>
          <form style class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          </form> 
    </nav>

    <div style="border: black 3px solid;" class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="cat_actualidad">Actualidad</a>
        <a class="p-2 text-muted" href="cat_animales">Animales</a>
        <a class="p-2 text-muted" href="cat_deportes">Deportes</a>
        <a class="p-2 text-muted" href="cat_salud">Salud </a>
        <a class="p-2 text-muted" href="cat_tecnologia">Tecnologia</a>
        <a class="p-2 text-muted" href="cat_ocio">Ocio</a>
        <a class="p-2 text-muted" href="api_de_prueba">Internacional</a>
      </nav>
    </div>
    </nav>  
    <hr>
    <h4 class="categoria" style="margin-right: 50px;margin-left: 50px;">NEWS-Tecnologias</h4>
    <hr>
    <h1 class="titular" style="margin-right: 50px;margin-left: 50px;"> Más de 30 organizaciones instan a Facebook a abandonar sus planes de un Instagram para niños </h1>
    <hr>
    <h4 class="autor" style="margin-right: 50px;margin-left: 50px;"> JUAN DIEGO GODOy
            
    <br>
        <p class="card-text"><small class="text-muted"> Actualizado a: 16 de abril de 2021</small></p>
       <img src="{% static 'IMG/facebook.jpg' %}" width="800px" height="300px" alt="Universidad_Catolica" style="vertical-align:middle;margin: 100px 100px">
    </p>
    <div class="col-md-8"></div>
      <div class="card-body">
        <h5 class="card-title">El culto a la apariencia física promovido por la plataforma y la presión social, aseguran los expertos, 
                               serían dañinos para la privacidad y el bienestar de los menores</h5>

        <p class="card-text"><small class="text-muted">
          Los planes de Facebook para construir una nueva versión de Instagram que permita a los niños menores de 13 años usar la red social
          de forma segura se han estrellado con la desaprobación de padres de familia, asociaciones educativas, tecnológicas e infantiles y 
          organizaciones de derechos digitales, encabezados por la Campaña por una Infancia sin Comerciales (CCFC, por sus siglas en inglés). 
          Esta última asociación ha enviado una carta al director ejecutivo de Facebook, Mark Zuckerberg, para disuadirlo de seguir adelante 
          con el proyecto. La misiva de la CCFC llega en un momento en que el gigante tecnológico es criticado por amplificar la información 
          errónea a nivel mundial en sus plataformas, al tiempo que expone a los niños a material inapropiado.

        </small></p>

        <img src="{% static 'IMG/facebook2.jfif' %}" width="800px" height="300px" alt="portada gato" style="vertical-align:middle;margin: 100px 100px">

        <P><p class="card-text"><small class="text-muted">
          Un reportaje publicado por la revista The Atlantic indaga en usuarios de Instagram que parecen estar comerciando con pornografía 
          infantil usando la etiqueta #dropboxlinks para buscar y compartir fotos explícitas de niños menores de edad en la plataforma. 
          Además, un reportaje publicado por EL PAÍS alerta de cómo los algoritmos de Instagram favorece las publicaciones que muestran mucha 
          piel —como aquellas en ropa interior, desnudos estratégicos (que utilizan otras partes del cuerpo para cubrirse) o bañador sobre el 
          resto, lo que permite una mayor retroalimentación digital (como me gusta, comentarios y seguidores).

          “Si bien recopilar datos familiares valiosos y cultivar una nueva generación de usuarios de Instagram puede ser bueno para los resultados
           finales de Facebook, es probable que aumente el uso de Instagram por parte de los niños pequeños que son particularmente vulnerables a las
            características manipuladoras y explotadoras de la plataforma”, concluye la carta.
            </small></p></P>
      </div>
    </div>
</body>
</html> 

