{% load static %}
<!DOCTYPE html>
<html>
  <head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    
    <title>CAOS NEWS-Animeales</title>
  </head>
  <body>
     <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/index">
        <img src="{% static 'IMG/Caos news.png' %}" width="50" height="30" class="d-inline-block align-top" alt="" >
        CAOS NEWS  
      </a>
          <form style class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          </form> 
    </nav>

    <div style="border: black 3px solid;" class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="/cat_actualidad">Actualidad</a>
        <a class="p-2 text-muted" href="/cat_animales">Animales</a>
        <a class="p-2 text-muted" href="/cat_deportes">Deportes</a>
        <a class="p-2 text-muted" href="/cat_salud">Salud </a>
        <a class="p-2 text-muted" href="/cat_tecnologia">Tecnologia</a>
        <a class="p-2 text-muted" href="/cat_ocio">Ocio</a>
        <a class="p-2 text-muted" href="/api_de_prueba">Internacional</a>
      </nav>
    </div>
    </nav>  
    <hr>
    <h4 class="categoria" style="margin-right: 50px;margin-left: 50px;">NEWS-Tecnologias</h4>
    <hr>
    <h1 class="titular" style="margin-right: 50px;margin-left: 50px;"> Una buena estrategia a la hora de hacer una copia de seguridad </h1>
    <hr>
    <h4 class="autor" style="margin-right: 50px;margin-left: 50px;">JUAN DIEGO GODOY      
    <br>
        <p class="card-text"><small class="text-muted"> Actualizado a: 16 de abril de 2021</small></p>
       <img src="{% static 'IMG/copia seguridad.jpg' %}" width="800px" height="300px" alt="Universidad_Catolica" style="vertical-align:middle;margin: 100px 100px">
    </p>
    <div class="col-md-8"></div>
      <div class="card-body">
        <h5 class="card-title">Los expertos recomiendan seguir la llamada regla 3-2-1 para resguardar nuestros documentos de un desastre informático</h5>

        <p class="card-text"><small class="text-muted">
          ¿Cuándo fue la última vez que hizo una copia de seguridad a su ordenador? ¿Y a su teléfono? ¿Lo recuerda? ¿Sabe si lo hizo correctamente? 
           Si su respuesta es no, no está solo. Según un sondeo realizado por la compañía de seguridad informática ESET Latinoamérica entre un millar 
           de usuarios de distintos países de la región, el 63% de los encuestados desconocían cómo hacer un respaldo correcto de su información, 
           si es que llegan a hacerlo algún día. Una copia de seguridad (backup, en inglés) puede salvarle la vida, digitalmente hablando. Sin embargo, 
           no cualquier copia funciona. Para resguardar su información de manera adecuada, hará falta más que presionar un botón.

        </small></p>

        <img src="{% static 'IMG/tecnologia1.1.jpg' %}" width="800px" height="300px" alt="portada gato" style="vertical-align:middle;margin: 100px 100px">

        <P><p class="card-text"><small class="text-muted">
          Una de las mejores maneras para que el usuario se asegure de que está guardando lo necesario, de la manera más segura y con la 
          frecuencia adecuada, es la regla del 3-2-1. “Consiste en tener tres copias, en dos tipos de soporte diferentes [por ejemplo dos en 
          sendos ordenadores y otra en la nube] y almacenar una de ellas en lugar físico distinto a nuestra casa o lugar de trabajo. De esta manera, 
          nos aseguramos disponer de una copia de respaldo de nuestra información ante imprevistos no deseados”, explica Valdés. La experta reconoce 
          que llevar a rajatabla esta norma supone un esfuerzo, pero que vale la pena si evaluamos “el coste de la medida frente al coste del riesgo 
          y establecemos rangos de importancia de nuestra información”.
            </small></p></P>
      </div>
    </div>
</body>
</html> 

